<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>AllContractsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.AllContractsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.ContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectTariffServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.SelectTariffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableOptionServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.DisableOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectOptionServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.SelectOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnableOptionServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.EnableOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllTariffsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.AllTariffsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTariffServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.RemoveTariffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewTariffServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.CreateNewTariffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTariffOptionsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.EditTariffOptionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTariffOptionsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.RemoveTariffOptionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTariffOptionsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.AddTariffOptionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateContractServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.CreateContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillFormsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.FillFormsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUnblockServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.BlockUnblockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientContractServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.ClientContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientBlockUnblockServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.ClientBlockUnblockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllOptionsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.AllOptionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OptionEditServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.OptionEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnotherContractServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.AddAnotherContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAnotherContractServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.CreateAnotherContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOptionsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.ManageOptionsServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>EditTariffOptionsServlet</servlet-name>
        <url-pattern>/admin/edit_options</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTariffOptionsServlet</servlet-name>
        <url-pattern>/admin/remove_option</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTariffOptionsServlet</servlet-name>
        <url-pattern>/admin/add_option</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateContractServlet</servlet-name>
        <url-pattern>/admin/new_contract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillFormsServlet</servlet-name>
        <url-pattern>/admin/fill_forms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateContractServlet</servlet-name>
        <url-pattern>/admin/add_contract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllContractsServlet</servlet-name>
        <url-pattern>/admin/all_contracts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractServlet</servlet-name>
        <url-pattern>/admin/contract_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectTariffServlet</servlet-name>
        <url-pattern>/admin/select_tariff</url-pattern>
        <url-pattern>/admin/change_tariff</url-pattern>
        <url-pattern>/user/select_tariff</url-pattern>
        <url-pattern>/user/change_tariff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableOptionServlet</servlet-name>
        <url-pattern>/admin/disable_option</url-pattern>
        <url-pattern>/user/disable_option</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectOptionServlet</servlet-name>
        <url-pattern>/admin/select_options</url-pattern>
        <url-pattern>/user/select_options</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnableOptionServlet</servlet-name>
        <url-pattern>/admin/enable_option</url-pattern>
        <url-pattern>/user/enable_option</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllTariffsServlet</servlet-name>
        <url-pattern>/admin/all_tariffs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTariffServlet</servlet-name>
        <url-pattern>/admin/remove_tariff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewTariffServlet</servlet-name>
        <url-pattern>/admin/create_tariff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUnblockServlet</servlet-name>
        <url-pattern>/admin/block</url-pattern>
        <url-pattern>/admin/unblock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllOptionsServlet</servlet-name>
        <url-pattern>/admin/all_options</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OptionEditServlet</servlet-name>
        <url-pattern>/admin/delete_option</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnotherContractServlet</servlet-name>
        <url-pattern>/admin/add_another_contract</url-pattern>
        <url-pattern>/admin/fill_contract_info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAnotherContractServlet</servlet-name>
        <url-pattern>/admin/register_new_contract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/user/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientContractServlet</servlet-name>
        <url-pattern>/user/contract_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientBlockUnblockServlet</servlet-name>
        <url-pattern>/user/block</url-pattern>
        <url-pattern>/user/unblock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOptionsServlet</servlet-name>
        <url-pattern>/admin/manage_options</url-pattern>
    </servlet-mapping>
</web-app>
