<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>AllContractsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.AllContractsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.ContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectTariffServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.SelectTariffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTariffServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.ChangeTariffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableOptionServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.DisableOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectOptionServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.SelectOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnableOptionServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.EnableOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllTariffsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.AllTariffsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTariffServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.RemoveTariffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewTariffServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.CreateNewTariffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTariffOptionsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.EditTariffOptionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTariffOptionsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.RemoveTariffOptionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTariffOptionsServlet</servlet-name>
        <servlet-class>ru.tsystems.javaschool.cellular.controller.AddTariffOptionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllContractsServlet</servlet-name>
        <url-pattern>/all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractServlet</servlet-name>
        <url-pattern>/contract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectTariffServlet</servlet-name>
        <url-pattern>/select_tariff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTariffServlet</servlet-name>
        <url-pattern>/change_tariff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableOptionServlet</servlet-name>
        <url-pattern>/disable_option</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectOptionServlet</servlet-name>
        <url-pattern>/select_options</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnableOptionServlet</servlet-name>
        <url-pattern>/enable_option</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllTariffsServlet</servlet-name>
        <url-pattern>/all_tariffs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTariffServlet</servlet-name>
        <url-pattern>/remove_tariff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewTariffServlet</servlet-name>
        <url-pattern>/create_new_tariff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTariffOptionsServlet</servlet-name>
        <url-pattern>/edit_options</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTariffOptionsServlet</servlet-name>
        <url-pattern>/remove_option</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTariffOptionsServlet</servlet-name>
        <url-pattern>/add_option</url-pattern>
    </servlet-mapping>
</web-app>
